body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    color: rgb(94, 255, 0);
}

.principal {
    width: 500px;
    margin-left: 30%;
}

.principal h1 {
    color: rgb(94, 255, 0);
}