body {
    background-color: rgb(24, 26, 32);
    color: #04030b;
}

label {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.principal {
    width: 500px;
    margin-left: 33%;
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 5px;
    background-color: white;
    padding-left: 2%;
}

.principal h1 {
    color: rgb(7, 13, 29);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.principal p {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

input {
    box-sizing: border-box;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 5px;
    padding-left: 10%;
}
