body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    background-color: rgb(24, 26, 32);
    color: #ffffff;
}

label {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.principal {
    width: 500px;
    margin-left: 33%;
}

.principal h1 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.principal p {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}